/* Section 14: Local Storage */
/* #110. What is Local Storage? */
/* #111. Storing & Getting Data */
/* #112. Deleting Storage Data */
/* #113. Stringifying & Parsing Data */
h1{
    text-align: center;
    color: darkmagenta;
}
p{
    text-align: center;
    color: darkslateblue;
}